 * {
   font-family: 'Roboto', sans-serif;
   font-size  : calc(9px + 0.9vw);
   line-height: calc(1.5em + 0.5vw);
 }

 .navbar {
   background-color: rgb(0, 0, 0);
 }

 .navs {
   margin: auto
 }

 /*landing section */

 .landing-space {
   background-color   : black;
   height             : 100vh;
   background-position: center;
   background-repeat  : no-repeat;
   background-size    : cover;
   border-bottom      : black 10px solid;
   border-left        : black 5px solid;
   border-right       : black 5px solid;
   ;
   position: relative;
   color   : rgba(255, 255, 255, 0.822);

 }

 .landing-text {
   text-align: center;
 }

 /* dividers */
 .section-divider {
   background-color: rgb(0, 0, 0);
   height          : 10px;
 }

 /* about section */
 .thumbnail-pic {
   max-width    : 25em;
   max-height   : 25em;
   height       : 18.75em;
   width        : 18.75em;
   border-radius: 15em;
   overflow     : auto;
 }

 .about-text-edu {
   font-weight: 900;
 }


 /* MOBILE */

 @media screen and (max-width: 50em) {

   /*landing section */
   .landing-space {
     background-image: url(/src/assets/images/13.jpeg);
     background-size : cover;
   }

   /*about section */

   .thumbnail-pic {
     content     : url(/src/assets/images/headshotsmobile.jpeg);
     display     : block;
     margin-left : auto;
     margin-right: auto;

   }

   .about-row {
     text-align      : center;
     background-color: black;
     color           : rgba(255, 255, 255, 0.822);
   }

 

 }

 /* DESKTOP */

 @media screen and (min-width: 50em) {
   * {

     font-size  : 2vmin;
     line-height: 1.5em;
   }


   /* landing section*/
   .landing-space {
     background-image: url(/src/assets/images/10.jpeg);
     background-size : cover;
   }

   .thumbnail-pic {
     content: url(/src/assets/images/headshot.jpeg);
   }

 }

 /* .nav{
  font-family: 'Montserrat', sans-serif;
}

.headers{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.subheaders{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.boldtext{
 font-weight: 600;
}

.techBlocks{
  font-family: 'Montserrat', sans-serif;
} */
 */ .App {
   text-align: center;
 }

 .App-logo {
   height        : 40vmin;
   pointer-events: none;
 }

 @media (prefers-reduced-motion: no-preference) {
   .App-logo {
     animation: App-logo-spin infinite 20s linear;
   }
 }

 .App-header {
   background-color: #282c34;
   min-height      : 100vh;
   display         : flex;
   flex-direction  : column;
   align-items     : center;
   justify-content : center;
   font-size       : calc(10px + 2vmin);
   color           : white;
 }

 /* .App-link {
  color: #61dafb;
} */

 @keyframes App-logo-spin {
   from {
     transform: rotate(0deg);
   }

   to {
     transform: rotate(360deg);
   }
 }

 /* .wrapper {
  background-color: #9bcdce;
} */