



/* THIS DIVIDES THE SECTIONS */
  .section-divider{
      background-color: black;
      height: 70px;
      /* border-top: solid 0.2px white; */
  }

  /* THIS IS THE NAVBAR AND NAVS  */
  .navbar{
    background-color: black;
  }

  .navs{
      margin:auto
  }

/* 
  LANDING PAGE SECTION */
  .landing-space{
background-color: #2b2a2a ;
    height: 950px;
    color: whitesmoke;
  

  }
.landing-col{
    /* border:whitesmoke solid 0.5px; */
    position: relative;
}

.landing-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/* border: solid 3px red; */
max-width: fit-content;
}


/* THIS IS THE ABOUT PAGE SECTION */

.about-cntnr{
  max-height: fit-content; 
}

.about-row{
 /* max-height: fit-content; */
 /* border: solid red 1px; */
}

.left{
  background-color: #181818 ;
  /* border: solid 2px greenyellow; */
}

#about-col-right{
  background-color: whitesmoke;
  width: fit-content;
}

.skills-group{
  justify-content:center;
}

.skills-items{
  margin-left: 20px;
  height: fit-content;
  width: fit-content;
padding: 5px;
background-color: palevioletred;

}

.skills-contnr{
  margin-top: 15px;;
}

.first-row{
  font-size: 30px ;
  color: black;
  justify-content:center;
}

.first-row-two{
  font-size: 30px ;
  color: black;
   margin-top: -35px;
   justify-content:center;
}

.about-col{
  color: white;
  /* max-width: fit-content; */
}

#about-pic-col{

position: relative;
background-color: #181818 ;
}

.thumbnail-pic{
width: 350px;
height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#about-text p{
  padding-top: 30px;
  margin: auto;  
}

.about-text-edu{
  margin: auto;
}


#non-tech-txt{
  color: black;
  font-size: 30px ;
  /* border: solid 2px red */
}


/* PROJECTS SECTION */

.project-row{
  height: fit-content;
  padding: 20px;
  margin: 10px;

  /* border: red solid 3px; */
}

.projects-carousel{
  width: 400px;
  height: 450px;
  border: solid rgb(236, 232, 232) 2px;
  background-color: whitesmoke;
  border-radius: 0.5cm;
 padding: 10px;
}



.project-imgs{
  width: 375px;
  height: 325px;
  border-radius: 0.2cm;
}

.car-col{
  max-width:  fit-content;
  border: solid red 1px;
  margin: auto;
}

.headers{
  max-width:fit-content;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;

}

/* CONTACT and FOOTER SECTION */

.contact-row{
  max-height: fit-content;


}

.contact-container{
 margin: auto;
  /* border: solid 1px red; */


}



#github{
  height: 120px;
  width: 120px;
    

}

#linkedIn{
  height: 120px;
  width: 120px;
  margin-left: 50px;
  margin-right: 50px;
  /* border-radius: 2cm; */

}

#email{
  height: 150px;
  width: 150px;;

}

.footer{
  background-color: black;
  color: rgb(128, 127, 127);
  height: 50px;
}

.footer p{
  margin:auto
}