
@media screen and (min-width: 50em){
* {
  font-family: 'Roboto', sans-serif;
  /* font-size: calc(6px + 0.6vw); */
  font-size: 1em;
  /* line-height: calc(1em + 0.5vw); */
  color: black;
}
}

/* THIS DIVIDES THE SECTIONS */
.section-divider {
  background-color: black;
  height          : 70px;
  /* border-top   : solid 0.2px white; */
}

/* THIS IS THE NAVBAR AND NAVS  */
.navbar {
  background-color: black;
}

.navs {
  margin: auto
}

/* 
  LANDING PAGE SECTION */
.landing-space {
  background-color: #474444;
  height          : 95vh;
  /* color           : whitesmoke; */


}

.landing-col {
  border  : whitesmoke solid 0.5px;
  position: relative;

}

.landing-text {
  position   : absolute;
  text-align: center;
  /* top        : 40%;
  left       : 70%; */
  border  : 3px solid #73AD21;
}

#landing-hdr {
  /* font-size: 4vmax; */
  margin   : auto;
}

#landing-intro {
  /* font-size : 3vmax; */
  text-align: center;
  /* border : solid red 1px; */
}

#landing-txt {
  /* font-size : 2vmax; */
  text-align: center;

}

/* THIS IS THE ABOUT PAGE SECTION */

.about-cntnr {
 min-height: fit-content;
  /* border: chartreuse solid 1px; */
}

.about-row {

  /* border: pink solid 10px; */
  /* margin: auto; */
}

.clearfix {
  overflow: auto;
}

.img-txt-div{
  /* border: brown solid 2px;  */
}

.thumbnail-pic {
  max-width    : 20vw;
  max-height   : 40vh;
  /* border: chartreuse solid 1px; */
  /* margin-top: -1.5%;
  margin-bottom: -15%; */
  float: left;

}

#about-text p {
  padding: 5px;
  margin     : auto;
  /* font-size       : 2vw; */
/* border: brown solid 2px; */
max-width: fit-content;

}

.img-txt{
 text-align: center;
 /* line-height: 2vh;; */
}

.about-text-edu {
  /* margin-left: 25%;
  padding-top: 1vmin;
  line-height: 2vh;; */
}

.left {
  /* background-color: #181818; */
/* max-height: fit-content; */

}

.right{
  background-color: rgb(248, 248, 248);
}


.skills-group {
  justify-content: center;
}

.skills-items {
  /* margin-left     : 2vw; */
  height          : fit-content;
  max-width           : fit-content; 
  background-color: palevioletred;
  /* font-size       : 2.5vmin; */

}

.skills-contnr {}

.first-row {
  /* font-size      : 3.5vmin; */
  justify-content: center;
  /* margin-top     : 1vh; */
}

.first-row-two {
  /* font-size      : 3.5vmin;
  margin-top     : -0.5vh; */
  justify-content: center;
}

.about-col {
  /* color       : white; */
  max-width: fit-content;
}



/* PROJECTS SECTION */

.project-row {
  height : fit-content;
  /* padding-bottom: 1.4vmax; */


  /* border: red solid 3px; */
}

.projects-carousel {
  width           : 47vmin;
  height          : 56vmin;
  border          : solid rgb(209, 206, 206) 2px;
  background-color: rgb(240, 238, 238);
  border-radius   : 0.5cm;
  padding:1.5vh;
}

.card-container {
  /* border: green solid 3px; */
  padding: 2vmin;
}

.project-imgs {
  width        : 44.3vmin;
  height       : 38vmin;
  border-radius: 0.2cm;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.car-col {
  /* border: solid red 3px; */
  margin: auto;
}

.headers {
  max-width: fit-content;
  margin   : auto;

}

.card-txt{
  font-size: 2vmin;
margin: auto;
text-align: center;
/* border: solid red 3px; */
}

/* CONTACT and FOOTER SECTION */

.contact-row {
  max-height: fit-content;


}

.contact-container {
  margin   : auto;
  /* border: solid 1px red; */


}

#github {
  height: 120px;
  width : 120px;


}

#linkedIn {
  height          : 120px;
  width           : 120px;
  margin-left     : 50px;
  margin-right    : 50px;
  /* border-radius: 2cm; */

}

#email {
  height: 150px;
  width : 150px;


}

.footer {
  background-color: black;
  color           : rgb(128, 127, 127);
  height          : 50px;
}

.footer p {
  margin: auto
}

