/* THIS DIVIDES THE SECTIONS */
  .section-divider{
      background-color: black;
      height: 100px;
  }

  /* THIS IS THE NAVBAR AND NAVS  */
  .navbar{
    background-color: black;
  }

  .navs{
      margin:auto
  }

/* 
  LANDING PAGE SECTION */
  .landing-space{
background-color: #181818 ;
    height: 950px;
    color: whitesmoke

  }
.landing-col{
    /* border:whitesmoke solid 2px; */
    position: relative;
}

.landing-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
/* .landing-text h1{
    font-size: 100px;
}

.landing-text h3{
    font-size: 50px;
}

.landing-text p{
    font-size: 25px;
} */

/* THIS IS THE ABOUT PAGE SECTION */

.about-row{
  height: 400px
}

.about-col{
  /* border: solid 2px whitesmoke; */
}

.left{
  background-color: #181818 ;
  /* border: solid 2px greenyellow; */
}

#about-col-right{
  background-color: whitesmoke;
  margin-top: 10px;
}

.skills-group{
  justify-content:center;
  /* align-items: flex-start; */
}

.skills-items{
  margin-left: 20px;
  height: fit-content;
  width: 100px;
padding: 5px;
background-color: palevioletred;

}

.skills-contnr{

  margin-top: 25px;;
}

.rows{
  justify-content: center;
}

.first-row{
  font-size: 30px ;
  /* border: solid 2px red; */
  margin-top: -10px;
  margin-right: 18px;
  margin-left: 15px;
  color: black;
}

.two{
  margin-left: -20px;
}

.about-col{
  color: white;
}

.thumbnail-pic{
  height: 295px;
  width: 295px;
  justify-content: flex-start;
}

#about-text{
  padding-top: 30px;
}

#about-pic-col{
  padding-top: 30px;
  padding-right: 6px;
}

#non-tech-txt{
  color: black;
  font-size: 30px ;
  border: solid 2px red
}


/* PROJECTS SECTION */

.project-row{
  height: 700px;
  /* border: red solid 3px; */
}

.projects-carousel{
  width: 450px;
  height: 500px;
  border: solid rgb(236, 232, 232) 2px;
  background-color: whitesmoke;
  border-radius: 0.5cm;
 padding: 10px;
 margin-left: 10px;

}

.project-imgs{
  width: 420px;
  height: 375px;
  border-radius: 0.2cm;
}

.car-col{

  /* border: orange 2px solid; */
  max-width:  480px;
  position: absolute;
  top: 50%;
  right: 38%;
  left: 12%;
  transform: translate(-50%, -50%);

}

.headers{
/* border: black 2px solid; */
  margin-top: 50px;
  width: 450px;
  margin-left: 10px;
}

/* CONTACT and FOOTER SECTION */

.contact-row{
  height: 150px;

}

.contact-container{
  margin: auto;
}

#github{
  height: 120px;
  width: 120px;
    

}

#linkedIn{
  height: 120px;
  width: 120px;
  margin-left: 50px;
  margin-right: 50px;

}

#email{
  height: 150px;
  width: 150px;;

}

.footer{
  background-color: black;
  color: whitesmoke;
  height: 50px;
}

.footer p{
  margin:auto
}